{% extends 'emp.html' %}

{% block element %}
<form method="POST">
    <label for="empno">Número de Empleado:</label>
    <input type="number" name="empno" required min="1">

    <label for="ename">Nombre del Empleado:</label>
    <input type="text" name="ename" required>

    <label for="job">Puesto del Empleado:</label>
    <input type="text" name="job" required>

    <label for="mgr">Número de Manager:</label>
    <select name="mgr" required>
        {% for i in data.employees %}
            <option value="{{ i.empno }}" name="mgr">{{ i.empno }} - {{ i.ename }}</option>
        {% endfor %}
        <option value="0">NO TIENE</option>
    </select>

    <label for="hiredate">Fecha de Contratación:</label>
    <input type="date" name="hiredate" required>

    <label for="sal">Salario:</label>
    <input type="number" name="sal">

    <label for="comm">Comisión:</label>
    <input type="number" name="comm" required min="0">

    <label for="deptno">Número de Departamento:</label>
    <select name="deptno" required min="1">
        {% for department in data.departments %}
            <option value="{{ department.deptno }}" name="deptno">{{ department.deptno }} - {{ department.dname }} - {{ department.loc }}</option>
        {% endfor %}
    </select>
    <div></div>

    <button type="submit">Agregar Empleado</button>
</form>
{% endblock %}