<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='./styles/style.css') }}">
  <title>{{ data.title }}</title>
</head>
<body>

<header>

<div class="options-container">
  <a href="{{ url_for('dept') }}" class="option" id="deptLink">DEPT</a>
  <a href="{{ url_for('index') }}"><h1>NEO4J</h1></a>
  <a href="{{ url_for('emp') }}" class="option" id="empLink">EMP</a>
</div>
</header>

{% block content %}

{% endblock %}

</body>
</html>
