body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  text-align: center;
  
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  height: 100px;
}

.options-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.option {
  padding: 10px 20px;
  height: 50px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s;
  text-decoration: none;
  color: #000;
}

.option:hover {
  background-color: #e0e0e0;
}

.selected {
  background-color: #4CAF50;
  color: #fff;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  text-align: center; 
}

.nav-item {
  display: inline-block; 
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-item:hover {
  background-color: #555;
}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}